/* Home */

.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

html, body {
    height: 100%;
    margin: 0;
}

body{
    padding-top: 200px;
}


.navbar{
    background-color: rgb(255, 255, 255) !important;
}

.navbar-dark .navbar-brand .text-primary {
    color: rgb(100, 199, 253) !important;
    font-size: 30px;
}

.navbar-dark .navbar-brand{
    color: rgb(100, 199, 253) !important;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

.home-content h1 {
    font-size: 49px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home-content p {
    text-align: center;
    font-size: 27px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttons-container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btn-login a{
    display: inline-block;
    padding: 20px 96px;
    background-color: #f0f6f8 !important;
    color: black !important;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.btn-cadastro a {
    display: inline-block;
    padding: 20px 65px;
    background-color: #f0f6f8 !important;
    color: black !important;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.btn-cadastro a:hover, .btn-login a:hover {
    background-color: rgb(182, 229, 255) !important;
}
/* Fim Home */


/* Login e cadastro */

.login-section, .cadastro-section, .nova-section {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f0f6f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-section h1, .cadastro-section h1, .nova-section h1{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(100, 199, 253) !important ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: #d3d3d3 2px 3px 2px;
}

.login-section label, .cadastro-section label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-section form, .cadastro-section form, .nova-section form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.login-section input, .cadastro-section input, .nova-section input {
    width: 300px;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid rgb(182, 229, 255);
    background: #ffffff;
    font-size: 16px;
    transition: 0.3s ease;
}

.login-section input:focus, .cadastro-section input:focus, .nova-section input:focus {
    border-color: rgb(100, 199, 253);
    box-shadow: 0 0 10px rgba(100, 199, 253, 0.5);
    outline: none;
}

.login-section button, .cadastro-section button, .nova-section button {
    width: 300px;
    padding: 12px;
    background-color: rgb(100, 199, 253);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease;
}

.login-section button:hover, .cadastro-section button:hover, .nova-section button:hover {
    background-color: rgb(70, 170, 230);
    cursor: pointer;
}

.login-section p, .cadastro-section p, .nova-section p{
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.login-section a, .cadastro-section a, .nova-section a {
    color: rgb(100, 199, 253);
    font-weight: bold;
    text-decoration: none;
}

.login-section a:hover, .cadastro-section a:hover, .nova-section a:hover {
    text-decoration: underline;
}
/* Fim Login e cadastro*/

/* Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #111;
    color: white;
    padding: 20px;
    position: fixed;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 12px;
    margin: 8px 0;
    background: #222;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar li:hover,
.sidebar .active {
    background: #007bff;
}

/* Main content */
.content {
    margin-left: 260px;
    padding: 30px;
}

/* Header */
.header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-add {
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Section titles */
.section-title {
    margin-top: 30px;
    font-weight: bold;
}

/* Categories */
.categories {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.category-card {
    padding: 15px;
    text-align: center;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}

.vermelho { background: #e63946; }
.amarelo { background: #e9c46a; }
.laranja { background: #f4a261; }
.verde { background: #2a9d8f; }
.azul { background: #457b9d; }

/* Goals list */
.goals-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.goal-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    border-left: 5px solid #007bff;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

/* Performance */
.performance {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.performance-card {
    background: white;
    padding: 20px;
    flex: 1;
    text-align: center;
    border-radius: 8px;
    border-left: 5px solid #28a745;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

/*side bar*/

#toggle-sidebar {
    display: none;
}

.sidebar-btn {
    position: fixed;
    top: 12px;
    right: 15px;
    font-size: 32px;
    color: rgb(0, 0, 0);
    z-index: 3000;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -260px;
    width: 260px;
    height: 100%;
    background: #f0f6f8;
    padding: 30px 20px;
    transition: 0.4s ease;
    z-index: 2500;
    color: rgb(0, 0, 0);
}

.sidebar ul{
    padding: 0;
    margin-top: 70px;
}

.sidebar li{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    border-radius: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.sidebar li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    padding: 10px;
}

.sidebar li:hover {
    background-color: rgb(182, 229, 255);
    color: rgb(0, 0, 0);
}

#toggle-sidebar:checked + .sidebar-btn + .sidebar {
    right: 0;
}

.content {
    margin-left: 0;
    transition: margin-left .4s;
}

#toggle-sidebar:checked + .sidebar-btn + .sidebar + .content {
    margin-left: 260px;
}

.header-page h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: flex;

}

.section-title{
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin-top: 100px;
    margin-bottom: 40px;
}

.header-page .btn-add a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    padding: 10px;
    font-weight: bold;
}

.content h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: rgb(0, 0, 0);
    text-shadow: #928888 2px 3px 2px;
    margin-bottom: 200px;
    text-align: center;
    font-weight: bold;
}
